:root {
  --card-width: 325px
}

.card {
  max-width: var(--card-width);
  background: white;
  padding: 15px 15px 45px 15px;
  border-radius: 30px;
  user-select: none;
}

.card img {
  border-radius: 20px;
}

.card .content {
  text-align: center;
}

.card .title {
  margin: 20px 0;
  font-size: 1.5em;
}

.card .description {
  color: hsl(220, 15%, 55%);
  font-size: 1.125em;
}